* {
    margin: 0;
    padding: 0;
}


.container {
    margin: 0 auto;
    max-width: 1140px;
}

.menu {
    margin-bottom: 20px;
}

.products {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    margin-bottom: 20px;
    align-items: center;
}

.product-image {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-bottom: 20px;
}

.product-button {
    width: 17rem;
    margin-bottom: 20px;
}